// This is the nextflow.config file for Kamiak


params {

  // Path to the Fasta file to be blasted
  fasta_path = "${PWD}/all.pep"

}

profiles {
  standard {
    process.executor = 'local'
  }
  kamiak {
    process {
      executor = 'slurm'
      queue = 'ficklin'
      cpus = 1
      time = '16h'
      maxRetries = 1
      errorStrategy = 'retry'
    }
    executor {
      queueSize = 100
    }
  }
}
